---
import { capitalize } from "../utils";
const { tags } = Astro.props;

interface Props {
  tags: string[];
}
---

{
  tags.map((tag: string, index: number) => (
    <span
      class={`text-m px-3 py-1 ${index % 2 === 0 ? "bg-green-500" : "bg-indigo-500"} text-white rounded-full hover:opacity-90`}
    >
      <a href={"/articles/tag/" + tag}>#{capitalize(tag)}</a>
    </span>
  ))
}
